body {
    background-color: white;
    color: black;
    margin: 0; /* Remover margens padrão do body */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centralizar verticalmente */
}

.container {
    text-align: center; /* Centralizar texto horizontalmente */
}

.form-control {
    margin-top: 30px; /* Ajuste o espaçamento conforme necessário */
}

button {
    margin-top: 50px; /* Ajuste o espaçamento conforme necessário */
}